@using Blazored.LocalStorage;
@using MudBlazor
@using WEB.Data.Services.Base;
@using WEB.Utility;
@inherits LayoutComponentBase

@attribute [Authorize]

<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />
<MudThemeProvider/>

<PageTitle>СОКБ-43</PageTitle>


<RadzenLayout>
    <ChildContent>
        <RadzenHeader>
            <ChildContent>
                <div class="row justify-content-start align-items-center">
                    <div class="col-6 d-flex  align-items-center">
                        <RadzenSidebarToggle Click="@SidebarToggle"/>
                        <RadzenLabel Text="СОКБ-43">
                        </RadzenLabel>
                    </div>
                    <div class="col-6" style="text-align: right">
                        <RadzenProfileMenu Click="@ProfileMenuClick">
                            <ChildContent>
                                <RadzenProfileMenuItem Text="Профиль" Path="profile" Icon="settings">
                                </RadzenProfileMenuItem>
                                <RadzenProfileMenuItem Text="Выйти" Icon="power_settings_new" Value="Logout">
                                </RadzenProfileMenuItem>
                            </ChildContent>
                            <Template>
                                <RadzenIcon Icon="account_circle" class="d-xl-flex" />
                            </Template>
                        </RadzenProfileMenu>
                    </div>
                </div>
            </ChildContent>
        </RadzenHeader>
        <RadzenBody>
            <ChildContent>
                <RadzenContentContainer Name="main">
                    @Body
                </RadzenContentContainer>
            </ChildContent>
        </RadzenBody>
        <RadzenSidebar @ref="sidebar">
            <ChildContent>
                <RadzenPanelMenu style="height: 100%">
                    <ChildContent>
                        <AuthorizeView Roles="Администратор, Отдел кадров">
                            <Authorized>
                                <RadzenPanelMenuItem Text="Отдел кадров" Icon="account_box">
                                    <RadzenPanelMenuItem Text="Должности" Path="post">
                                    </RadzenPanelMenuItem>
                                    <RadzenPanelMenuItem Text="Сотрудники" Path="users">
                                    </RadzenPanelMenuItem>
                                </RadzenPanelMenuItem>
                            </Authorized>
                        </AuthorizeView>
                        <AuthorizeView Roles="Администратор, Технический писатель">
                            <Authorized>
                                <RadzenPanelMenuItem Text="Технические задания" Icon="assignment">
                                    <RadzenPanelMenuItem Text="Типы оборудования" Path="equipmenttypes">
                                    </RadzenPanelMenuItem>
                                    <RadzenPanelMenuItem Text="Технические задания" Path="techtasks">
                                    </RadzenPanelMenuItem>
                                </RadzenPanelMenuItem>
                            </Authorized>
                        </AuthorizeView>
                        <AuthorizeView Roles="Администратор, Менеджер по работе с клиентами">
                            <Authorized>
                                <RadzenPanelMenuItem Text="Клиенты" Icon="add_shopping_cart">
                                    <RadzenPanelMenuItem Text="Контрагенты" Path="contractors">
                                    </RadzenPanelMenuItem>
                                </RadzenPanelMenuItem>
                            </Authorized>
                        </AuthorizeView>
                        <AuthorizeView Roles="Администратор, Менеджер по работе с клиентами, Отдел обслуживания">
                            <Authorized>
                                <RadzenPanelMenuItem Text="Обслуживание" Icon="build">
                                    <RadzenPanelMenuItem Text="Обслуживание" Path="service">
                                    </RadzenPanelMenuItem>
                                </RadzenPanelMenuItem>
                            </Authorized>
                        </AuthorizeView>
                        <AuthorizeView Roles="Администратор, Отдел тестирования">
                            <Authorized>
                                <RadzenPanelMenuItem Text="Тестирование" Icon="bug_report">
                                    <RadzenPanelMenuItem Text="Тестирование оборудования" Path="tests">
                                    </RadzenPanelMenuItem>
                                </RadzenPanelMenuItem>
                            </Authorized>
                        </AuthorizeView>
                        <AuthorizeView Roles="Администратор">
                            <Authorized>
                                <RadzenPanelMenuItem Text="Администрирование" Icon="language">
                                    <RadzenPanelMenuItem Text="Работа с базой данных" Path="admin">
                                    </RadzenPanelMenuItem>
                                </RadzenPanelMenuItem>
                            </Authorized>
                        </AuthorizeView>
                    </ChildContent>
                </RadzenPanelMenu>
            </ChildContent>
        </RadzenSidebar>
        <RadzenFooter>
            <ChildContent>
                <RadzenLabel Text="АО «Корпорация «Комета»»" />
            </ChildContent>
        </RadzenFooter>
    </ChildContent>
</RadzenLayout>



